{% extends "base.html" %}

{% block title %}
Todo Lists
{% endblock title %}
{% block content %}
<main>
    <div>
        <h1>Update List</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
          </form>
    </div>
</main>
{% endblock content %}
