{% extends "base.html" %}
{% block title %}
Todo List
{% endblock title %}
{% block content %}
<div>
    <h1>Update Item<h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Submit</button>
    </form>
</div>
{% endblock content %}
